

<%= render 'pages/home' %>

<h1 class="text-center">All Pins</h1>

<div>
  <%= will_paginate @pages, renderer: BootstrapPagination::Rails, class: 'pull-right' %>
</div><!-- ptop agination div -->

<br><br><br>

<!-- all pins display here on the pins index view -->
  <div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(pin.image.url(:medium)), pin %>
        <div class="panel-body text-center">
            <p><%= pin.description %></p>
            <p><%= pin.string %></p>
            <p><strong><%= pin.user.try(:email) %></strong></p>
          
            <% if pin.user == current_user %>
                <%= link_to 'Edit', edit_pin_path(pin) %>
                <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div><!-- panel body end -->
      </div><!-- close box for jquery -->
    <% end %>
  </div>
<br>

<div>
<%= will_paginate @pages, renderer: BootstrapPagination::Rails %>
</div>

<br><br><br>
